<template name="editContact">
	<div class="editContact">
		<form role="form">
			<div class="form-group">
				<label>Name
					<input type="text" name="name" placeholder="Contact's Name" value="{{name}}" required>
				</label>
			</div>

			<div class="form-group">
				<label>Email Address
					<input type="email" name="email" placeholder="user@domain.tld" value="{{email}}" required>
				</label>
			</div>

			<div class="form-group">
				<label>Phone Number
					<input type="tel" name="phone" value="{{phone}}">
				</label>
			</div>

			<button type="submit" class="btn btn-default">Save</button>
		</form>
	</div>
</template>